<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- footer -->
<div class="footer clearfix">
    <div class="container links">
        <div class="left-cols">
            <div class="col">
                <ul>
                    <li>新手帮助</li>
                    <li><a href="/s/about">使用指南</a></li>
                    <li><a href="/s/contact">常见问题</a></li>
                    <li><a href="###">开通VIP</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>关于我们</li>
                    <li><a href="/s/about">公司介绍</a></li>
                    <li><a href="/s/contact">联系我们</a></li>
                    <li><a href="###">商务合作</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>官方声明</li>
                    <li><a href="/s/service">服务条款</a></li>
                    <li><a href="/s/disclaimer">免责声明</a></li>
                    <li>&nbsp;</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>推荐功能</li>
                    <li><a href="/services">录取概率测试</a>  <i style="color:#ffed22" class="fa fa-diamond"></i></li>
                    <li><a href="/s/faq">智能模拟填报</a></li>
                    <li><a href="/s/guide">院校专业对比</a></li>
                    <li>&nbsp;</li>
                </ul>
            </div>

        </div>
        <div class="right-cols">
            <div class="col">
                <img src="http://static.gaokao.nercel.com/b06261536/images/qrcode_for_weixin.jpg">
                <p><a href="#">关注微信公众号</a></p>
            </div>
            <div class="col">
                <img src="http://static.gaokao.nercel.com/b06261536/images/qrcode_for_weibo.jpg">
                <p><a href="#">关注微博</a></p>
            </div>
            <div class="col ">
                <img src="http://static.gaokao.nercel.com/b06261536/images/app_qrcode.jpg">
                <p><a href="#">下载手机APP</a></p>
            </div>
        </div>
    </div>
    <div class="copyright">
        © 2019 师大高考 武汉华大国家数字化学习工程技术有限公司
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="http://www.miitbeian.gov.cn/">鄂ICP备15023035号-3</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="http://static.gaokao.nercel.com/b06261536/images/xu_ke_zheng.jpg">增值电信业务经营许可证B2-20171770</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102001874">
            <img style="width:15px;height:15px;" src="http://static.gaokao.nercel.com/b06261536/images/gongan.png">&nbsp;鄂公网安备 42011102001874号</a>
    </div>

</div>

</body>
<script>

</script>

<style>


</style>
</html>