<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- 公用头部 -->
<div class="top-header">
    <div class="top">
        <div class="container">
            <div class="left">您好,
                <span><a href="#">[注册]</a> <a href="#">[登录]</a>
                </span> <span><a>soorou</a>欢迎登录师大高考网！</span>
            </div>
            <ul class="right">
                <li class="program1">微信公众号</li>
                <li class="program2">手机APP</li>
                <li class="program3">开通VIP</li>
            </ul>
        </div>
    </div>
    <div class="nav">
        <div class="container">
            <div class="logo"><img title="师大高考" src="image/logo.png" ></div>
            <ul class="navbar">
                <li>
                    <a href='/' class="mian-a">
                        <em>首页</em>
                    </a>
                </li>
                <li>
                    <a href='/college' class="mian-a">
                        <em>信息查询</em>
                    </a>
                    <div>
                        <a href="/college">找大学<i class="hot"></i></a>
                        <a href="###">搜职业</a>
                        <a href="###">找专业</a>
                        <a href="###">查位次</a>
                        <a href="###">批次线</a>
                        <a href="###">院校榜</a>
                    </div>
                </li>
                <li class="active">
                    <a href='###' class="mian-a">
                        <em>测试评估</em>
                    </a>
                    <div>
                        <a href="###">录取概率测试 <i class="hot"></i></a>
                        <a href="###">职业性格测试</a>
                        <a href="###">院校专业对比</a>
                    </div>
                </li>
                <li>
                    <a href='###' class="mian-a">
                        <em>志愿填报</em>
                    </a>
                    <div>
                        <a href="###">智能模拟填报 <i class="hot"></i></a>
                        <a href="###">录取相关数据</a>
                        <a href="###">招生计划数据</a>
                    </div>
                </li>
                <li>
                    <a href='###' class="mian-a">
                        <em>高考资讯</em>
                    </a>
                    <div>
                        <a href="###">高招资讯</a>
                        <a href="###">院校资讯 <i class="hot"></i></a>
                        <a href="###">专业资讯</a>
                    </div>
                </li>
            </ul>
            <div class="secher">
                <form>
                    <input type="text" value="" placeholder="搜文章 / 找大学 / 查专业 / 搜课程" class="f14">
                    <button type="submit"></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 公用头部 End-->

</body>
<script>

</script>

<style>


</style>
</html>